body {
  font-family: "Space Mono", monospace, sans-serif;
  background-color: #fcfaf9;
  color: #171a21;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  user-select: none;
}

header {
  width: 100%;
  padding: 2rem 0rem;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "home headline darkmode-switch";
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0rem;
}

footer a {
  color: #171a21;
  text-decoration: underline;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

#darkmode-toggle-button {
  grid-area: darkmode-switch;
  justify-self: end;
}

header h1 {
  grid-area: headline;
  justify-self: center;
}

a {
  text-decoration: none;
}

.home-button {
  grid-area: home;
  justify-self: center;
  color: #171a21;
  text-decoration: none;
}

.material-symbols-outlined {
  font-size: 3.5rem !important;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

button,
input {
  font-family: "Space Mono", monospace, sans-serif;
}
